/*----- constants -----*/

/*----- state variables -----*/
let setHeight = 3;
let setWidth = 3;
let setMines = 3;
let boardArr;
let firstClick;

/*----- cached elements  -----*/
const board = document.getElementById('board');
const resetBtn = document.getElementById('reset');
/*----- event listeners -----*/
board.addEventListener('mouseup', leftClick);

/*----- functions -----*/

init();

function init() {
    firstClick = 0;
    changeBoardSize(setHeight, setWidth);
    boardArr = [];
    for (let i = 0; i < (setHeight); i++) {
        boardArr.push([]);
        for (let j = 0; j < (setWidth); j++) {
            boardArr[i].push(0);
        }
    };
    placeMines(setMines);
    render();
};

function changeBoardSize(height, width) {
    board.innerHTML = '';
    board.style.gridTemplateColumns = repeat(${width}, 32px);
    board.style.gridTemplateRows = repeat(${height}, 32px);
    for (let i = 0; i < height; i++)  {
        for (let j = 0; j < width; j++)  {
            board.appendChild(document.createElement('div'));
            board.lastChild.setAttribute('id', bx${j}y${i});
            board.lastChild.appendChild(document.createElement('div'));
            document.getElementById(bx${j}y${i}).lastChild.setAttribute('style', 'border: 1px solid black; font-size: 20px; text-align: center; padding-top: 3px; user-select: none');
            board.lastChild.appendChild(document.createElement('div'));
            document.getElementById(bx${j}y${i}).lastChild.classList.add('covers');
            document.getElementById(bx${j}y${i}).lastChild.setAttribute('id', cx${j}y${i});
            document.getElementById(cx${j}y${i}).appendChild(document.createElement('img'));
            document.getElementById(cx${j}y${i}).lastChild.setAttribute('src', 'https://i.imgur.com/Y60Mhuq.gif');
            document.getElementById(cx${j}y${i}).lastChild.setAttribute('style', 'height: 32px; width: 32px; margin-top: -3px; margin-left: -3px; visibility: hidden');
        }
    };
};

function leftClick(evt) {
    let targetId = evt.target.getAttribute('id');
    if (targetId[0] === 'c') {
        clearCover(targetId)
    } else {
        return
    }
}

function clearCover(Id) {
    document.querySelector(#${Id}).style.visibility = 'hidden';
};

function placeMines(mines) {
    let boardSize = [];
    for (let i = 0; i < (setHeight * setWidth); i++) {
        boardSize.push(i);
    }
    for (let j = 0; j < mines; j++) {
        let randIdx = Math.floor(Math.random() * ((setHeight * setWidth) - j));
        randNum = boardSize[randIdx];
        boardSize.splice(randIdx, 1);
        let mineRow = Math.floor(randNum/setWidth);
        let mineCol = ((randNum)%setWidth);
        boardArr[mineRow][mineCol] = -1;
    }
}

function countAdj(x, y) {
    if (boardArr[x][y] === -1) {
        console.log('mine')
        if (boardArr[x-1] !== undefined && boardArr[x-1][y-1] !== undefined && boardArr[x-1][y-1] !== -1) {
            boardArr[x-1][y-1]++
        }
        if (boardArr[x][y-1] !== undefined && boardArr[x][y-1] !== -1) {
            boardArr[x][y-1]++
        }
        if (boardArr[x+1] !== undefined && boardArr[x+1][y-1] !== undefined && boardArr[x+1][y-1] !== -1) {
            boardArr[x+1][y-1]++
        }
        if (boardArr[x-1] !== undefined && boardArr[x-1][y] !== undefined && boardArr[x-1][y] !== -1) {
            boardArr[x-1][y]++
        }
        if (boardArr[x+1] !== undefined && boardArr[x+1][y] !== undefined && boardArr[x+1][y] !== -1) {
            boardArr[x+1][y]++
        }
        if (boardArr[x-1] !== undefined && boardArr[x-1][y+1] !== undefined && boardArr[x-1][y+1] !== -1) {
            boardArr[x-1][y+1]++
        }
        if (boardArr[x][y+1] !== undefined && boardArr[x][y+1] !== -1) {
            boardArr[x][y+1]++
        }
        if (boardArr[x+1] !== undefined && boardArr[x+1][y+1] !== undefined && boardArr[x+1][y+1] !== -1) {
            boardArr[x+1][y+1]++
        }
    }
}
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #63898C;
}

header {
    font-size: 5vmin;
    color: #015366;
    letter-spacing: 1vmin;
    background-color: #A7D1D2;
    border: 0.5vmin solid #033540;
    padding: 1vmin 2vmin;
    margin-bottom: 4vmin;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E0F4F5;
    border: 5px outset #033540;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5vmin;
}

#smiley {
    height: 32px;
    width: 32px;
    border: 2px solid #033540;
    background-color: white;
}

#timer {
    font-size: 3vmin;
    color: #015366;
    letter-spacing: .5vmin;
    background-color: #A7D1D2;
    border: 0.3vmin solid #033540;
    padding: 0 .7vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(1, 32px);
    grid-template-rows: repeat(1, 32px);
}

#board > div {
    display: grid;
}

#board > img {
    background-color: #E0F4F5;
    position: relative;
    height: 32px; 
    width: 32px;
}

.covers {
    border: 3px outset #033540;
    background-color: #E0F4F5;
    height: 32px; 
    width: 32px;
    position: absolute;
}

button {
    margin-top: 4vh;
    font-size: 2vmin;
    color: #015366;
    letter-spacing: .5vmin;
    background-color: #A7D1D2;
    border: 0.3vmin solid #033540;
    padding: .5vmin 1vmin;
}

function render() {
    renderBoard();
    renderMessage();
}